body {
	max-width: 800px;
	background-color: #f2f0eb;
	background-image: url("HC logo@2x.png");
	background-position: right center;
	margin-left: auto;
	background-repeat: no-repeat;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}
h1 {
	color: darkolivegreen;
	font-size: 45px;
	text-align: center;
	font-family: 'Mansalva', cursive;
}
h4 {
	padding-top: 24px;
	text-decoration: underline;
	font-family:'Open Sans', sans-serif;
	clear: both;
}
p {
	line-height: 150%;
	padding-top: 14px;
	font-family: 'Open Sans', sans-serif;	
}

#nav{
	list-style-type: none; /*remove bullets*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
}
.about, .work, .contact{
	margin: 0 1em;
	padding: 8px;
}
.logo{
	margin-right: auto;
	padding-left: 0.5em;
	padding: 8px;
}
#nav a{
	display: block;
	color: black;
	font-family: 'Palanquin Dark', sans-serif;
	padding: 0.1em 0.5em;
	margin: 0.3em;
	border: 1px solid;
	border-radius: 0.5em;
	border-color: olive
}
header img {
	width: 100%;
}

#nav a:hover {
	color: #2980b9;
	transition: 0.1s linear;
	}
#holly{
	float:left;
}
#intro{
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.name{
	padding-top: 5px;
	font-family: 'Open Sans', sans-serif;
	clear: right;
	padding-left: 110px;
	flex: 1 1 auto;
}
.school{
	color: 	#A9A9A9;
	font-family:'Open Sans', sans-serif;
	padding-top: 16px;
	padding-left:110px;
	flex-basis: 3 1 auto;
}

#monkey {
	padding-right: 250px;
	padding-left: 250px;	
	padding-top: 12px;
}

ul li {
	padding-top: 16px;
	font-family: 'Open Sans', sans-serif;
}
#do1, #do2, #do3, a {
	padding-top: 50px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
footer {
	padding-top: 64px;
	padding-bottom: 64px;
	font-size: 12px;
	color: olive;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
th, td {
    border: 1px dashed;
    border-color:black;
}
table{
	width: 100%;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
th{
	height: 50px;
}
td{
	width: 50%;
	height: 300px;
}
table h4, table p{ 
	align-content: center;
}
iframe {
	padding-top: 30px;
	padding-left: 120px;
    border-style: dotted;
}
form {
	padding-right: 250px;
	padding-left: 250px;
	font-family: 'Open Sans', sans-serif;
}
#eyescool {
	padding-left: 50px;
}
#wisconn, #mfp, #web1, #web2 {
	padding-left: 10px;
}
blockquote{
	background-color:#598C51; 
	color:white; 
	text-align: center; 
 	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	float:inherit;
    border-radius: 4px;
    border: 2px solid black;
    margin: 8px;
} 
#bling {
	float: left;
	position: fixed;
}
.blueText {
    color:blue;
    background-color:lightblue;
}

/* this defines a style for an ID */
#blueText {
    color: blueviolet;
    background-color: lightpink;
}

/* a simple box style to play with */
.onebox {
    border: 2px solid darkorange;
    border-radius: 2px;
    width:150px;
    padding: 0px 10px 0px 10px;
    margin: 15px 5px 15px 5px; 
    background-color: lightgoldenrodyellow;
    color:darkorange;
}

/* for playing with the buttons */
.onebutton {
    width:100px;
    height:30px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 8px;
}

