<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="utf-8">
<!-- page title -->
        <title> Home </title>
<!-- stylesheet -->       
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/stylesheet.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Mansalva|Open+Sans|Palanquin+Dark|Poppins:600&display=swap" rel="stylesheet">
	</head>
	
	<body>
        
        <nav>
            <ul id="nav">
				<li class="logo"><h1>Logo</h1></li>
                <li class="about"><a href="">Tracker</a></li>
                <li class="work"><a href="work.html">Tips</a></li>
                <li class="contact"><a href="contact.html">About</a></li>
                <li><a href="login.html">login</a></li>
            
        </nav> 
    <blockquote >
            <div id="one01" class="examplebox">
    <h2>Box 1: Styling (id="one01")</h2>
    
    <p>
        Make sure you can find this "example box".
  
    
    <p>
            text 
    </p>
    </div>
        </blockquote>
		<br>
		<br>

		<br>

		<br>

		<footer>
			<p>Copyright © 2019 by </p>
		</footer>
	</body>
	
</html>